<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
    <link rel="stylesheet" href="stylesheet/style.css">
</head>
<body>
    <header id="main-header">
        <div class="container">
            <div class="logo">
                <a href="index.html">
                    <img src="img/ahm.png" alt="The_MAK">
                </a>
                <span id="date" style="font-size: 20px; float: right; margin-top: 15px;"></span>
            </div>
        </div>
    </header>
    <nav id="navbar">
        <div class="container">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="services.html">Services</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="contact.html">Contact-Us</a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <center>
            <h1 style="margin-top: 35px;">Awesome Services</h1>
            <p style="font-size: 18px;"><strike>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strike> Our Products <strike>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strike></p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem error, id qui earum nobis ipsum illum debitis pariatur, nulla ex eius nostrum quas. Voluptatibus laboriosam alias praesentium sit minima dist.</p>
        </center>
        <div class="block1">
            <p>
                <h3>Online & Offline Training</h3>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem error, id qui earum nobis ipsum illum debitis pariatur, nulla ex eius nostrum quas. Voluptatibus laboriosam alias
            </p>
        </div>
        <div class="block2">
            <p>
                <h3>SEO</h3>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem error, id qui earum nobis ipsum illum debitis pariatur, nulla ex eius nostrum quas. Voluptatibus laboriosam alias
            </p>
        </div>
        <div class="block3">
            <p>
                <h3>IT Projects</h3>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem error, id qui earum nobis ipsum illum debitis pariatur, nulla ex eius nostrum quas. Voluptatibus laboriosam alias
            </p>
        </div>
        <div class="block4">
            <p>
                <h3>Websites & App Development</h3>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem error, id qui earum nobis ipsum illum debitis pariatur, nulla ex eius nostrum quas. Voluptatibus laboriosam alias
            </p>
        </div>
        <div class="block5">
           <p>
                <h3>Online & Offline Training</h3>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem error, id qui earum nobis ipsum illum debitis pariatur, nulla ex eius nostrum quas. Voluptatibus laboriosam alias
            </p>
        </div>
        <div class="block6">
             <p>
                <h3>SEO</h3>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem error, id qui earum nobis ipsum illum debitis pariatur, nulla ex eius nostrum quas. Voluptatibus laboriosam alias
            </p>
        </div>
        <div class="block7">
            <p>
                <h3>IT Projects</h3>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem error, id qui earum nobis ipsum illum debitis pariatur, nulla ex eius nostrum quas. Voluptatibus laboriosam alias
            </p>
        </div>
        <div class="block8">
            <p>
                <h3>Websites & App Development</h3>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem error, id qui earum nobis ipsum illum debitis pariatur, nulla ex eius nostrum quas. Voluptatibus laboriosam alias
            </p>
        </div>
    </div>
    <footer id="main-footer">
            <p>Copyright &copy; <span id="year"></span> The_MAK</p>
    </footer>
    <script src="js/clock.js"></script>
</body>
</html>